body {
  text-align: center;
}
hr {
  margin-top: 30px;
  width: 40%;
  border: 0.1px solid black;
}
button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}